.container {
  text-align: center;
}

h1 {
  margin: 0 auto;
  font-size: 60px;
  font-family: impact;
}

#map {
  display: none; /* Hide the map by default */
  height: 500px;
  width: 800px;
  margin: 0 auto;
  background-color: #ffffff; /* Set the desired background color */
}

#description-container {
  display: none; /* Hide the description container by default */
  text-align: left;
  margin-top: 20px;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;
}

#slug-program {
  display: 'block';
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

#guide {
  display: 'none';
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
